.sibshop-listing-description {
    margin-bottom: 20px;
}

.sibshop-listing td.Submitted {
    color: orange;
}

.sibshop-listing td.Rejected {
    color: red;
}

body.portaltype-sibs-sibshops-sibshop ul,
body.portaltype-sibs-sibshops-sibshop article {
    margin-bottom: 1em;
}

body.portaltype-sibs-sibshops-sibshop #content ul li {
    background: none;
    list-style-type: none;
}

body.portaltype-sibs-sibshops-sibshop .documentDescription {
    display: none;
}

body.portaltype-sibs-sibshops-sibshop #content-core input[type=checkbox] {
    pointer-events: none;
}

#content .field_online {
    color: #5981d2;
}

#content .field_plain {
    font-weight: normal;
}

.formHelp {
    display: none;
}

body.userrole-member #content form ul.formTabs {
    display: none;
}

body.userrole-manager #content form ul.formTabs {
    display: block;
}

